/* 在这里创建测试 CSS */

/* p {
    color: red;
    font-size: x-large;
    width: 280px;
    background-color: bisque;
    border: 2px solid red;
    border-top: 1px dotted blue;
    border-right: 2px dashed green;
    border-bottom: 3px double yellow;
    border-left: 4px solid orange;
  } */

  /* .special {
    color: red;
  }
   */
  .outer {
    border: 5px solid black;
  }
  
  .box {
    /* padding: 10px;
    padding: 10px 15px 15px 1px; */
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 5px;

    width: calc(90% - 30px);
    /* background-color: rebeccapurple; */
    /* background: red url(7-2.jpg) 10px 10px repeat-x fixed; */
    background-color: red;
    background-image: url(7-2.jpg);
    background-position: 10px 20px;
    background-position: right 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;


    color: white;
  }

  div p, 
  #id:first-line {
  background-color: rgba(43, 255, 0, 0.5);
  border-radius: 3px;
}
div p + p {
    padding-top: 10px;
  } 
  /* .box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
  } */

  /* body {
    background-color: pink;
  } */
  
  /* @media (min-width: 60em) {
    body {
      background-color: blue;
    }
    p {
        color: pink;
        font-size: x-large;
        width: 280px;
        background-color: bisque;
        border: 2px solid red;
        border-top: 1px dotted blue;
        border-right: 2px dashed green;
        border-bottom: 3px double yellow;
        border-left: 4px solid orange;
      }  
}

@media (min-width: 80em) {
    body {
      background-color: wheat;
    }
    p {
        color: black;
        font-size: x-large;
        width: 280px;
        background-color: bisque;
        border: 2px solid red;
        border-top: 1px dotted blue;
        border-right: 2px dashed green;
        border-bottom: 3px double yellow;
        border-left: 4px solid orange;
      }  
} */